doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/page1.css')
    style.
  body
    #myTopnav.topnav
      a(href='/')
        img.active(src='/images/asian-logo.png')
      .insidebar
        a(href='/about') About Us
        a(href='/') Products
        a(href='#laying') Paver laying Instruction
        a(href='#quality') Quality
        a(href='#dload') Downloads
        a(href='#contact') Contact Us
        a.icon(href='javascript:void(0);', onclick='myFunction()')
          i.fa.fa-bars
    .bodycontent(style='padding-left:16px')
      .greybar
      .content_one
        img.firstone(src='/images/firstone.png')
        .backorange
        .frontwhite
          h2.heading2 ABOUT ASIAN CONCRETO
          p.textcontent1
            | sjdgfhkjsdkjfbkjsd
            br
            |           sdmfbdskbfksjdfnkjsdfd
            br
            |           fsdfhbdsjfbsdkfbdskfjsd
            br
            |           fsdfnbdsjfbhsdkfndskfnsdklfmksdf
            br
    script(src='/javascripts/page1.js')
